<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="window.location.href='add_card.html'">Add Card Details</button>
    <button onclick="window.location.href='update.html'">Update Expense</button>
    <button onclick="displayCards();">Fetch cards</button>


    <div class="card-container" id="card-container">
        <!--<div class="card-columns" id="card-columns">
            <div class="card" id="card">
                <div class="card-header" id="card-header">
                    <span id="cardNumber"></span>
                </div>
                <div class="card-body" id="card-body">
                    <ul id="expense-list" style="list-style: none;text-align: left;margin-left: 0;">
                        <li style="text-align: left"></li>
                    </ul>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>-->
    </div>


</body>
</html>